.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
}

.login-box {
    width: 800px;
    height: 450px;
    background: white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.left-panel {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-panel h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.social-icons i {
    font-size: 22px;
    background: #eee;
    padding: 10px;
    border-radius: 50%;
}

.left-panel input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.left-panel button {
    width: 100%;
    padding: 12px;
    background: #6c1df5;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.right-panel {
    width: 50%;
    background: linear-gradient(to bottom right, #6a11cb, #8c17f1);
    color: white;
    padding: 40px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.right-panel h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.right-panel button {
    padding: 12px 30px;
    background: white;
    color: #6a11cb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}